{% extends 'base.html' %}

{% block conteudo %}

     <div class="login-container" >

         <img src="https://pbs.twimg.com/media/EShi2dmXYAEggYn?format=jpg&name=900x900" alt="">
         <form method="POST" action="" class="form-login " style="width: 37rem;">
          {% csrf_token %}
          <div class="form-group ">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control"  name="usuario" placeholder="usuario" style="width: 37rem";>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control"  placeholder="senha" name="senha" style="width: 37rem";>
          </div>

          <button type="submit" class="btn btn-primary" style="width: 37rem";>Logar</button>
             <a href="{% url 'registrar' %}"> Criar Conta</a>
        </form>

{% include 'parciais/_messages.html' %}
     </div>

{% endblock %}